<p>What do you want to ask?</p>

<form method="POST" action="/questions">
	Title: <input type="text" name="title" placeholder="Enter title…"><br>
	Your Question: <br>
	<input type="text" name="question"><br>
	<input type="submit" value="Submit">
</form>